.container {
  background-image: linear-gradient(to left, red, white);
}
.navbar {
  height: 40px;
  display: flex;
  border-radius: 6px;
  justify-content: right;
}

.element {
  height: 50px;
  margin: 5px;
  display: flex;
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
#resultList {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
